/* En este css, tienen que ir los estilos de objetos comunes para cualquier página (estilo de footer, estilo de header, botón de búsqueda...)*/

* {
    margin:0;
    padding:0;
    height: 100%;
}

header{
    height: 15%;
    width: 100%;
    background-color: #E9791A;
    display: flex;
    flex-direction: row;
}

header img{
    background-color: #E9791A;
    height: 100%;
    width: 15%;
}

header .menu{
    display: flex;
    width: 85%;
    height: 100%;
    align-items: center;
}

.menu button{
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    width: 20%;
    height: 80%;
}


main {
    height: 75%;
    display: inline-grid;
}

footer {
    height: 10%;
    width:100%;
    background-color: #E9791A;
}