:root {
    --color-header: #0069c0;
    --color-button: #6ec6ff;
    --color-fondo:#2196f3;
    --naranja-form: #E9791A;
    --fondo-colum-izquierda: #4FAFFF;

}

[tema="dark"]{
    --color-header: #131c46;    
    --color-button: #657b8c;
    --color-fondo: #3c4c8f;
    --naranja-form: #894c17;
    --fondo-colum-izquierda: #204462;
}

#perfil_content {
    display: flex;
}

#perfil_col_right {
    float: left;
    width : 49vw;
    height: 75vh;
    overflow-y:auto;
    flex:50%;
}



#perfil_col_left {
    background-color: var(--fondo-colum-izquierda);
    float: left;
    width : 49vw;
    height: 75vh;
    flex:50%;

}


#perfil_nombre{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

#perfil_tu_imagen{
    position: relative;
    width: 12%;
    left: 70%;


}



.perfil_col_left_song{
    position: relative;
    width: 15%;
    left: 70%;
}

.perfil_amigo{
    background-color: var(--fondo-colum-izquierda);
    width: 80%;
    margin-left: 5%;
    padding-left: 5%;
    border-radius: 15px;
}

#perfil_nombre{
    color: black;
}