:root {
    --color-text: black;
}

[tema="dark"]{
    --color-text: white;
}


.lista_cancion{position: relative;
width: 15%;
left: 70%;
}


.Playlist_Container{
    border: solid;
    border-color: blue;
    position: relative;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-text);
}
.playlists_container{
    overflow-y: scroll;
    position: relative;
    width: 80%;
}

.playlist_name{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.playlist_object div{
    color: var(--color-text);
}

.playlist_object h2{
    color: var(--color-text);
}
